import java.util.ArrayList;
import java.util.Scanner;

class Etudiant {
    String nom;
    int age;
    double note;

    void Afficher() {
        System.out.println(" " + nom + " " + age + " " + note);
    }

    void Admis() {
        if (note >= 10) {
            System.out.println(nom + " est admis(e)");
        } else {
            System.out.println(nom + " n'est pas admis(e)");
        }
    }
}

public class Main {
    public static void main(String[] args) {
        int n;
        double somme = 0;

        ArrayList<Etudiant> e = new ArrayList<>();

        System.out.print("Combien d’étudiants : ");
        Scanner sc = new Scanner(System.in);
        n = sc.nextInt();
        sc.nextLine(); // vider le buffer

        for (int i = 0; i < n; i++) {
            System.out.println("\n--- Étudiant " + (i + 1) + " ---");

            System.out.print("Nom : ");
            String nom = sc.nextLine();

            System.out.print("Âge : ");
            int age = sc.nextInt();

            System.out.print("Note : ");
            double note = sc.nextDouble();
            sc.nextLine(); // vider le buffer

            Etudiant et = new Etudiant();
            et.nom = nom;
            et.age = age;
            et.note = note;

            e.add(et);
            somme += note; // ajouter la note à la somme
        }

        // affichage
        System.out.println("\n===== Résultats =====");
        for (Etudiant et : e) {
            et.Afficher();
            et.Admis();
        }

        // moyenne de la classe
        double moyenne = somme / e.size();
        System.out.println("\nMoyenne de la classe : " + moyenne);

        sc.close();
    }
}
